@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-regular: "Open Sans", sans-serif;

  --color-orange: #FF7D00;
  --color-light-blue: #73E5FF;
  --color-light-gray: #FFF;
  --color-font-blue: #00636D;
  --color-font-dark: #000;

  --container-width: 320px;
}

.container {
  max-width: var(--container-width);
}
.header {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background: var(--color-light-gray);
}
.header-top {
  display: flex;
  padding: 8px 16px;
}
.header-logo {
  width: 101px;
  margin-right: 8px;
}
.header-contacts_container {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.header-phone_link,
.header-address_link {
  color: #000;
  font-family: var(--font-family-regular);
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}
.header-address_link {
  font-size: 12px;
  font-weight: 600;
}
.header-phone {
  padding: 0 14px 0 23px;
}
.header-bottom {
  display: block;
  background:#00AFCC;
  height: 8px;
  flex-shrink: 0;
}

.banner-container {
  width: var(--container-width);
  margin-inline: auto;
  position: relative;
}
.banner-bg {
  background: url(/assets/banner-bg.png);
  width: var(--container-width);
  height: 372px;
}
.banner-left-img_container {
  position: inherit;
}
.banner-left_image {
  position: absolute;
  top: 17px;
  left: 27px;
  z-index: 20;
}
.banner-li_fox {
  position: absolute;
  top: 62px;
  left: 70px;
  z-index: 21;
}
.banner-mid-img_container {
  position: inherit;
}
.banner-mid_image {
  position: absolute;
  top: 97px;
  left: 132px;
  z-index: 30;
}
.banner-mid_fox {
  position: absolute;
  top: 118px;
  left: 141px;
  z-index: 31;
}
.banner-right-img_container {
  position: inherit;
}
.banner-right_image {
  position: absolute;
  top: 9px;
  right: 30px;
  z-index: 10;
}
.banner-right_fox {
  position: absolute;
  top: 56px;
  right: 85px;
  z-index: 11;
}
.banner-h1 {
  position: absolute;
  top: 166px;
  left: 17px;
  color: var(--color-light-gray);
  font-family: var(--font-family-regular);
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}
.banner-btn {
  position: absolute;
  top: 278px;
  left: 17px;
  border-radius: 8px;
  background: var(--color-orange);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--color-light-gray);
  text-align: center;
  font-family: var(--font-family-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 63px;
  border: none;
}
.banner-bottom {
  position: absolute;
  top: 340px;
  left: 130px;
}

.welcome {
  width: var(--container-width);
  margin-inline: auto;
  background: var(--color-light-blue);
}
.welcome-h2 {
  color: #000;
  font-family: var(--font-family-regular);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding: 29px 16px 22px 13px;
}
.welcome-content {
  color: #000;
  font-family: var(--font-family-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 35px; 
  padding-left: 16px;
  padding-right: 30px;
}

.catalog {
  width: var(--container-width);
  margin-inline: auto;
  background: var(--color-light-gray);
}
.catalog-header {
  color: var(--color-font-dark);
  font-family: var(--font-family-regular);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding: 18px 16px 9px 16px;
}
.cat-container {
  padding-left: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.cat-header {
  color: var(--color-font-dark);
  font-family: var(--font-family-regular);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.dress-left_container,
.dishes-left_container,
.accessories-left_container,
.gifts-left_container,
.home-left_container,
.foto-left_container {
  display: flex;
  flex-direction: column;
}
.dress-link,
.dishes-link,
.accessories-link,
.gifts-link,
.home-link,
.foto-link {
  color: var(--color-font-blue);
  font-family: var(--font-family-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 204.272%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}
.dress-right_container,
.accessories-right_container,
.home-right_container {
  padding-right: 15px;
}
.dishes-right_container {
  padding-right: 25px;
}
.home-right_container {
  padding-right: 16px;
}

.map {
  width: var(--container-width);
  margin-inline: auto;
  padding-bottom: 12px;
}

.find-us {
  width: var(--container-width);
  margin-inline: auto;
  padding-left: 16px;
}
.find-us_header {
  color: var(--color-font-dark);
  font-family: var(--font-family-regular);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.find-us-address_header,
.find-us-tel_header,
.find-us-working-hours_header,
.find-us_address,
.find-us_tel,
.find-us_working-hours  {
  color: var(--color-font-dark);
  font-family: var(--font-family-regular);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}
.find-us_address,
.find-us_tel,
.find-us_working-hours {
  font-weight: 400;
  line-height: 149.8%;
  margin-bottom: 14px;
}
.find-us_address {
  padding-right: 65px;
}
.find-us-social-media_container {
  display: flex;
}
.find-us-vk_link,
.find-us-insta_link {
  margin-left: 14px;
  color: var(--color-font-blue);
  font-family: var(--font-family-regular);
  font-size: 18px;
  font-weight: 400;
  line-height: 204.272%; 
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.description {
  margin-top: 60px;
  width: var(--container-width);
  margin-inline: auto;

}
.desc-content {
  padding: 13px 15px 19px 16px;
  color: var(--color-font-dark);
  font-family: var(--font-family-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 177.036%;
}
.desc-show-more_container {
  display: flex;
  align-items: center;
  padding-left: 87px;
  padding-bottom: 24px;
}
.desc-show-more_link {
  color: var(--color-font-blue);
  font-family: var(--font-family-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 177.036%;
  margin-right: 10px;
  text-decoration: none;
}