@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-regular: "Open Sans", sans-serif;

  --color-orange: #FF7D00;
  --color-light-blue: #73E5FF;
  --color-light-gray: #FFF;
  --color-font-blue: #00636D;
  --color-font-dark: #000;

  --container-width: 320px;
}

.container {
  max-width: var(--container-width);
}
.header {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background: var(--color-light-gray);
}
.header-top {
  display: flex;
  padding: 8px 16px;
}
.header-logo {
  width: 101px;
  margin-right: 8px;
}
.header-contacts_container {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.header-phone_link,
.header-address_link {
  color: #000;
  font-family: var(--font-family-regular);
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
}
.header-address_link {
  font-size: 12px;
  font-weight: 600;
}
.header-phone {
  padding: 0 14px 0 23px;
}
.header-bottom {
  display: block;
  background:#00AFCC;
  height: 8px;
  flex-shrink: 0;
}
